-#  This file is app/views/movies/index.html.haml
%h1 All Researches


%table#movies
  %thead
    %tr
      %th Research Title
      %th Rating
      %th Date Started
      %th More Info
  %tbody
    - @researches.each do |research|
      %tr
        %td= research.title 
        %td= research.status
        %td= research.date_started
        %td= link_to "More about #{research.title}", research_path(research)

= link_to 'Add new movie', new_research_path