%div.container
  %h2 #{@research.title}
  %h3 Summary: #{@research.abstract}
  %p Researchers:
  - @research.users.each do |researcher| 
    %i= researcher.email
  %ul#details
    %li
      Status:
      = @research.status
    %li
      Date Started:
      = @research.date_started.strftime("%B %d, %Y")

    %li
      Technology:
      = @research.technology
    %li
      Sector:
      = @research.sector
    %li
      Commodity:
      = @research.commodity
    %li
      Discipline:
      = @research.discipline
    %li
      Discipline:
      = @research.discipline

  -#%p#description= @movie.description
  = button_to 'Back to research list', researches_path, :method => "get"
