= form_for(:researchers, :url => {controller: 'researchers', action: 'create'}) do |f|
  = f.label :first_name, 'First Name'
  = f.text_field :first_name
   
  = f.label :middle_name, 'Middle Name'
  = f.text_field :middle_name

  = f.label :last_name, 'Last Name'
  = f.text_field :last_name  

  = f.label :employee_no , 'Employee_no'
  = f.text_field :employee_no 

  = f.submit :Create