!!!
%html
  %head
    %title DA Region 8 Researches
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Overpass' rel='stylesheet'>
  %body
    
    %header
      = render 'layouts/navigation'
    %main
      = render 'layouts/messages' 
      = yield 
